<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
  <%= @service.availablity %>
  <%= @service.more_information %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
