<div class="alert alert-primary" role="alert"><%= notice %></div>

<div class="container">

<div class="col-sm-4" style="float:left;border:solid 0px;height:150px;">
  <% if @service.pic.attached? %>
    <%= image_tag @service.pic %>    
  <% end  %>
</div>

</p>
  <%= @service.description %>
</p>

<p>
  <strong>More information:</strong>
  <%= @service.more_information %>
</p>
<div>
<%if current_user.id == @service.user_id %>
  <%= link_to 'Edit', edit_service_path(@service) %> |
<%end%>
<%= link_to 'Back', services_path %>
</div>

<div>
Owner: <%=  @service.user.profile.first_name %>
</div>

<div>
<%= link_to "Send this user a message", "/chats/show" %>
</div>
</div>

<% if @service.user == current_user %>
  <% @service.service_posts.each do |post| %>
    <p>
      <%= post.body %>
      <%= post.user.email %>
      <%= time_ago_in_words(post.created_at) %>
    </p>
  <% end %>

  <hr>

  <%= form_for([@service, ServicePost.new]) do |form| %>
    <%= form.text_field :body %>
    <%= form.submit %>
  <% end %>
<% else %>
  <% @my_posts.each do |post| %>
    <p>
      <%= post.body %>
      <%= post.user.email %>
      <%= time_ago_in_words(post.created_at) %>
    </p>
  <% end %>

  <hr>

  <%= form_for([@service, ServicePost.new]) do |form| %>
    <%= form.text_field :body %>
    <%= form.submit %>
  <% end %>
<% end %>

