<div class="container">
  <div class="row">

    <div class="col-md-4">
      <center><%=image_tag "Recycle_resize.svg .png", :style=>"margin-top: 40%; width:200px;" %>
    </div>

    <div class="col-md-4">

      <h5>Create your profile</h5>
<%= form_with model: @profile do |f| %>
  <div>
    <%= f.label 'First Name'%>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label 'Last Name'%>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label 'Address'%>
    <%= f.text_field :address %>
  </div>
  <div>
    <%= f.label 'Picture Id'%>
    <%= f.file_field :license %>
  </div>
  <div>
    <%= f.label 'Utility Bill'%>
    <%= f.file_field :bill %>
  </div>
  <div>
    <%= f.label 'Profile Pic'%>
    <%= f.file_field :pic %>
  </div>
  <div>
    <%= f.label 'Building'%>
    <%= f.collection_select(:building_id, @buildings, :id, :address, :include_blank => "Select your building") %>
  </div>
  <%= f.submit 'Create Profile!' %>
<% end %>
