<h1><%= @user.first_name %><%= @user.last_name%></h1>
<p> <%= @user.email %> </p>
<%= image_tag @user.license, height: "200" %>
<%= image_tag @user.bill, height: "200" %>
<p>Building: <%= @user.building.building_name %></p>