<div class="container-password">

  <div class = "row-password">

    <div class="password">
<header id="main-title_password" style="color:black">Cup Of Sugar</header>
<div id="subtitle_password">Reuse, Recycle, Community List</div>

<!-- <h2 class="forgot_password">Forgot your password?</h2> -->

<div class = "container-fluid">
  <div class = "row">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class:"offset-md-3 col-md-6" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions-password">

    <%= f.submit "Send me reset password instructions", class:"login-reset-button" %>

  </div>
<% end %>


  </div>

 <div class="password-page-shared-links">
  <%= render "devise/shared/links" %>
  </div>

</div>
</div>
<div id="birthday-image">

  </div>
