<h1>HISTORY</h1>
<h3>Goods</h3>
<ul>
  <% @goods.each do |good| %>
    <li>
      <%= good.description %>
      <%= link_to 'Edit', edit_good_path(good) %>
      <%= link_to 'Destroy', good, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
<h3>Service</h3>
<ul>
  <% @services.each do |service| %>
    <li>
      <%= service.description %>
        <%= link_to 'Edit', edit_service_path(service) %>
        <%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>