
<h1> Building </h1>
<h3>Goods!</h3>
<div>
  <input type="text" classname="input placeholder="Search">
  <ul>
  </ul>
</div>
<ul>
  <% @goods.each do |good| %>
    <li>
      <%= good.description %>
      <% if current_user.id == good.user.id %>
      <%= link_to 'Edit', edit_good_path(good) %>
      <%= link_to 'Destroy', good, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>
<h3>Service</h3>
<ul>
  <% @services.each do |service| %>
    <li>
      <%= service.description %>
      <% if current_user.id == service.user.id %>
        <%= link_to 'Edit', edit_service_path(service) %>
        <%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>
<%= react_component 'Building' %>
