

    <!-- <header id="main-title" style="color:green">
      R<span style="color:white">e</span>u<span style="color:yellow">s</span>e, Re<span style="color:yellow">c</span>ycle, <span style="color:yellow">S</span>hare <span style="color:yellow">Co</span>mmunit<span style="color:yellow">y</span> <span style="color:white">List</span>
    </header> -->
    <div class="signin_page">
    <header id="main-title" style="color:black">Cup Of Sugar</header>
    <h3>Reuse, Recycle, Share, Community List</h3>


    <div class = "hp_signin">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "login-button" %>
        </div>
      <% end %>
      <div class="mt-2">
        <%= render "devise/shared/links" %>
      </div>
    </div>
    </div>
