<p id="notice"><%= notice %></p>
<h1>Goods: Offered & Needed</h1>
<div class="New-Good">
<%= link_to 'New Good', new_good_path %>
</div>

<table class="da-goods">
  <thead>
    <tr>
      <th>Description</th>
      <th>Availability</th>
      <th>More information</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @goods.each do |good| %>
      <tr>
        <td><%= good.description %></td>
        <td><%= good.more_information %></td>
        <td><%= image_tag good.user.profile.pic %></td>
        <td>
          <% if current_user.id == good.user_id %>
            <%= link_to 'Edit', edit_good_path(good), class: "btn btn-primary" %>
          <% end %>
        </td>
        <td><%= link_to 'Destroy', good, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


