<div class="alert alert-primary" role="alert"><%= notice %></div>

<div class="container">


<div class="col-sm-4" style="float:left;border:solid 0px;height:150px;">
  <% if @good.pic.attached? %>
    <%= image_tag @good.pic %>    
  <% end  %>
</div>


</p>
  <%= @good.description %>
</p>

<p>
  <strong>More information:</strong>
  <%= @good.more_information %>
</p>

<div class="edit-back">
<%if current_user.id == @good.user_id %>
  <%= link_to 'Edit', edit_good_path(@good) %> |
<%end%>
<%= link_to 'Back', goods_path %>
</div>


</div class="owner">
Owner: <%=  @good.user.profile.first_name %></div>
<div>


<div class="message">
  <%= link_to "Send this user a message", "/chats/show" %></div>
</div>

