<!DOCTYPE html>
<html>
  <head>
    <title>FinalProjectTemplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js' %>
    <%= javascript_include_tag 'https://media.twiliocdn.com/sdk/js/chat/v3.0/twilio-chat.min.js' %> 

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>

    <div class="container">
      <nav class="navbar navbar-expand-lg  navbar-light bg-light">
        <% if current_user && current_user.buildings.any? %>
          <%= link_to "Buildings", building_path(current_user.buildings.first) %>
          <%= link_to "Goods", goods_path %>
          <%= link_to "Services", services_path %>
          <%= link_to "My Profile", profile_path(current_user.profile) %>
          <%= link_to "Chat!", chats_show_path %>
        <% end %>
      </nav>
    <%= react_component("Search") %>
    <%= yield %>
    </div>

    <li>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </li>

  </body>
</html>
